/*Configurações da fonte*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


/* Configurações da cores */

:root{
   --cor1:#c9b065;
   --cor2:#0a1130;
   --cor3:#7d6a32;
   --cor4:#ffffff;
   --cor5:#667ecd;
   --cor6:#a25b5b;
   --cor7:gray;
}

/* Configurações do navegadores */

*{
    font-family: 'roboto', sans-serif;
     font-size: 18px; 
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Formatação do body */

body{
    background-color: var(--cor7);
}

header{
    max-width: 95%;
    height: auto;
    margin: 0 auto;
    background-color: var(--cor1);
    text-align: center;
    border-radius: 0px 0px 12px 12px;
    padding-top: 1rem;
    box-shadow: 0px 4px 3px var(--cor2);
}

nav li{
    display: inline-block;
    margin: 2rem 1rem;
}

nav a{
    color: var(--cor4);
    font-size: 0.8rem;
}

nav a:hover{
    color: var(--cor2);
    border-bottom: 4px solid;
}


/******* Formatação do Rodapé**************/
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor7);
    color: var(--cor4);
    padding-top: 2%;
    text-align: center;
 
 }
 
 .rodape a{
     font-size: 0.8rem;
     color: var(--cor4);
 }
 
 .rodape img{
     padding: 5%;
 }



/*************CONFIGURAções da pàgina Contacto *************/

.contato{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor1);
    margin: 2% auto;
    width: 90%;
    border-radius:10px 10px 0 0;

}

.cont{
    width: 80%; 
}

.cont h1{
    font-size: 2rem;
    text-align: center;
    color: var(--cor2);
    font-weight: 700;
    margin-bottom: 3%;
}

.cont input[type="text"], input[type="email"], input[type="tel"]{
    width: 400px;
    height: 35px;
    color: var(--cor2);
    text-align: center;
    border-radius: 10px;
    border: none;
    margin-bottom: 1%;   
}

.cont textarea{
    width: 400px;
    height: 200px;
    color: var(--cor2);
    text-align: center;
    padding-top: 1%;
    border-radius: 10px;
    border: none;
}