/*Configurações da fonte*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


/* Configurações da cores */

:root{
   --cor1:#c9b065;
   --cor2:#0a1130;
   --cor3:#7d6a32;
   --cor4:#ffffff;
   --cor5:#667ecd;
   --cor6:#a25b5b;
   --cor7:gray;
}

/* Configurações do navegadores */

*{
    font-family: 'roboto', sans-serif;
     font-size: 18px; 
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Formatação do body */

body{
    background-color: var(--cor7);
}

header{
    max-width: 95%;
    height: auto;
    margin: 0 auto;
    background-color: var(--cor1);
    text-align: center;
    border-radius: 0px 0px 12px 12px;
    padding-top: 1rem;
    box-shadow: 0px 4px 3px var(--cor2);
}

nav li{
    display: inline-block;
    margin: 2rem 1rem;
}

nav a{
    color: var(--cor4);
    font-size: 0.8rem;
}

nav a:hover{
    color: var(--cor2);
    border-bottom: 4px solid;
}


/******* Formatação do Rodapé**************/
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor7);
    color: var(--cor4);
    padding-top: 2%;
    text-align: center;
 
 }
 
 .rodape a{
     font-size: 0.8rem;
     color: var(--cor4);
 }
 
 .rodape img{
     padding: 5%;
 }



/*************CONFIGURAções da pàgina Entrar *************/

.login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--cor1);
    margin: 2% auto;
    width: 90%;
    height: 300px;
    border-radius: 10px 10px 0 0;
}

.logar{
    width: 80%;
}

#logar1{
    width: 95%;
}

.logar h1{
    font-size: 1.8rem;
    text-align: center;
    color: var(--cor2);
    font-weight: 700;
    margin-bottom: 3%;
}



.logar input[type="email"], input[type="password"]{
    width: 400px;
    height: 50px;
    color: var(--cor2);
    text-align: center;
    border-radius: 10px;
    border: none;
    margin-bottom: 1%;

}





.logar input[type="submit"]{
    width: 250px;
    height: 50px;
    background-color: var(--cor2);
    border: none;
    margin-top: 3%;
   border-radius: 10px;
   color: var(--cor4);
}

.logar input[type="submit"]:hover{
    background-color:  var(--cor3);
    cursor: pointer;   
}

.logar img{
    margin-left: -100px;
    height: 300px;
    width: 600px;

}

.logar #id_hoje{
    position: absolute;
    font-size: 1.5rem;
    padding: 2% 16%;
    line-height: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: var(--cor2);
}

.logar #p_hoje{
    position: absolute;
    padding: 4% 17%;
    line-height: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: var(--cor2);
}

.logar a{
    position: absolute;
    padding: 0.5% 1.5%;
    background-color: var(--cor2);
    color: var(--cor4);
    margin: 17% -23%;
    border-radius: 10px;
}
.logar a:hover{
    background-color:  var(--cor3);
    cursor: pointer;
}