/*Configurações da fonte*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


/* Configurações da cores */

:root{
   --cor1:#c9b065;
   --cor2:#0a1130;
   --cor3:#7d6a32;
   --cor4:#ffffff;
   --cor5:#667ecd;
   --cor6:#a25b5b;
}

/* Configurações do navegadores */

*{
    font-family: 'roboto', sans-serif;
     font-size: 18px; 
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}